@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 162, 255);
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

/* Dette stykke er udskrevet fordi det er formularen til baggrundsbilledet. Jeg tester lige med baggrundsvideo i stedet.
/*.bgImage {
  background-image: url(https://c.pxhere.com/images/00/af/38fa6ed6693e2605434b528c05e4-1575603.jpg!d);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(5px);
}*/

.bgHeroVideo {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.header__logo {
  max-width: 10%;
  max-height: 10%;
}

.nav {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.25em;
}

.live {
  padding: 0.5em 1em 0.5em 1em;
  border: none;
  background-color: #ac343d;
}

.live:hover {
  background-color: #00426b;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-self: center;
  padding-left: 14%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-top: 10%;
}

h3 {
  color: #fff;
  text-align: center;
  font-size: 5em;
  font-family: "Bebas Neue", cursive;
  align-self: center;
  justify-self: center;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 1px #f9f9f9, 0 0 2.5px #f9f9f9, 0 0 8px #f9f9f9,
    0 0 18.5px lightgrey, 0 0 38.5px lightgrey, 0 0 43.5px lightgrey,
    0 0 48.5px lightgrey, 0 0 73px lightgrey;
  display: none;
}

.tagline {
  align-self: center;
  justify-self: center;
  margin-top: -5em;
  color: #fff;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2em;
}

.ctaText {
  color: #fff;
  align-self: center;
  justify-self: center;
  font-size: 2em;
  font-weight: 100;
  font-family: "Bebas Neue", cursive;
}

.btnText {
  color: #fff;
  text-decoration-line: none;
  font-family: "Bebas Neue", cursive;
  font-size: 3em;
}

.ctaBtnGlow-on-hover {
  border: none;
  outline: none;
  background: rgb(234, 0, 255);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  max-width: 20%;
  padding: 1em 2em 1em 2em;
  align-self: center;
  justify-self: center;
}

.btnText:hover {
  color: #fff;
}

.ctaBtnGlow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.ctaBtnGlow-on-hover:active {
  color: #000;
}

.ctaBtnGlow-on-hover:active:after {
  background: transparent;
}

.ctaBtnGlow-on-hover:hover:before {
  opacity: 1;
}

.ctaBtnGlow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.sund {
  color: red;
}

.sikker {
  color: blue;
}

.værdi {
  color: purple;
}

.klima {
  color: green;
}

.omstil {
  color: yellow;
}

.samf {
  color: magenta;
}

.futu {
  color: #fff;
}

.text-switch-animation {
  overflow: hidden;
  width: 360px;
  height: 80px;
  margin: auto;
}

.text-switch-animation p {
  animation: text-switch 18s;
  font-size: 5em;
  line-height: 1;
  font-weight: 600;
  font-family: "Bebas Neue", cursive;
}

@keyframes text-switch {
  0% {
    transform: translateY(0px);
  }
  14.2% {
    transform: translateY(-80px);
  }
  28.4% {
    transform: translateY(-160px);
  }
  42.6% {
    transform: translateY(-240px);
  }
  56.8% {
    transform: translateY(-320px);
  }
  71% {
    transform: translateY(-400px);
  }
  85.2% {
    transform: translateY(-480px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 460px) {
  h3 {
    color: #bc21ef;
    font-size: 1.5rem;
  }
}
