@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    -45deg,
    var(--g1),
    var(--g2),
    var(--g3),
    var(--g4)
  );
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
  height: 150vh;
}

:root {
  --h: 120deg;
  --s: 50%;
  --l: 65%;
  --g1: hsl(200deg, 50%, 25%);
  --g2: hsl(150deg, 50%, 25%);
  --g3: hsl(200deg, 50%, 25%);
  --g4: hsl(150deg, 50%, 25%);
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  margin: 3rem;
}

/* Dette stykke er udskrevet fordi det er formularen til baggrundsbilledet. Jeg tester lige med baggrundsvideo i stedet.
/*.bgImage {
  background-image: url(https://c.pxhere.com/images/00/af/38fa6ed6693e2605434b528c05e4-1575603.jpg!d);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(5px);
}*/

.bgHeroVideo {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6em;
}

.header__logo {
  max-width: 10%;
  max-height: 10%;
}

.nav {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.25em;
}

.live {
  padding: 0.5em 1em 0.5em 1em;
  border: none;
  background-color: #ac343d;
}

.live:hover {
  background-color: #00426b;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  animation: margin 1s ease-in-out 7s;
  animation-fill-mode: forwards;
}
/*
@keyframes margin {
  0% {
    margin-left: 0em;
  }
  100% {
    margin-left: 10em;
  }
}
*/
.gridContainer {
  margin-bottom: 6em;
}

h3 {
  color: #fff;
  text-align: center;
  font-size: 5em;
  font-family: "Bebas Neue", cursive;
  align-self: center;
  justify-self: center;
  letter-spacing: 0.05em;
}

.neonText {
  color: #fff;
  animation: pulze 3s ease-in-out infinite;
  animation-fill-mode: forwards;
  text-align: right;
}

.digital {
  width: fit-content;
}

@keyframes pulze {
  0% {
    text-shadow: 0 0 1px #f9f9f9, 0 0 1px #f9f9f9, 0 0 1px #f9f9f9,
      0 0 3px lightgrey, 0 0 3px lightgrey, 0 0 3px lightgrey, 0 0 6px lightgrey,
      0 0 6px lightgrey;
  }
  50% {
    text-shadow: 0 0 0px #f9f9f9, 0 0 0px #f9f9f9, 0 0 0px #f9f9f9,
      0 0 0px lightgrey, 0 0 0px lightgrey, 0 0 0px lightgrey, 0 0 0px lightgrey,
      0 0 0px lightgrey;
  }
  100% {
    text-shadow: 0 0 1px #f9f9f9, 0 0 1px #f9f9f9, 0 0 1px #f9f9f9,
      0 0 3px lightgrey, 0 0 3px lightgrey, 0 0 3px lightgrey, 0 0 6px lightgrey,
      0 0 6px lightgrey;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in 7s;
  animation-fill-mode: forwards;
  opacity: 0;
  width: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 30%;
  }
}

.tagline {
  color: #fff;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.075em;
  text-align: center;
  font-size: 2rem;
}

.ctaText {
  color: #fff;
  font-size: 1.5em;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 1.5rem;
}

.btnText {
  color: #fff;
  text-decoration-line: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
}

.ctaBtnGlow-on-hover {
  border: none;
  outline: none;
  background: #00b646;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
  padding: 1em 2em 1em 2em;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

.ctaContent {
  margin-bottom: 6rem;
}

.btnText:hover {
  color: #fff;
}

.ctaBtnGlow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.ctaBtnGlow-on-hover:active {
  color: #000;
}

.ctaBtnGlow-on-hover:active:after {
  background: transparent;
}

.ctaBtnGlow-on-hover:hover:before {
  opacity: 1;
}

.ctaBtnGlow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.sund {
  --h: 120deg;
}
.sikker {
  --h: 180deg;
}
.værdi {
  --h: 260deg;
}
.klima {
  --h: 320deg;
}
.omstil {
  --h: 0deg;
}
.samf {
  --h: 60deg;
}

.futu {
  --l: 100%;
}

.text-switch-animation {
  overflow: hidden;
  height: 80px;
}

.text-switch-animation p {
  animation: text-switch 8s;
  font-size: 5em;
  line-height: 1;
  font-weight: 600;
  font-family: "Bebas Neue", cursive;
  color: hsl(var(--h), var(--s), var(--l));
  letter-spacing: 0.05em;
}

@keyframes text-switch {
  0% {
    transform: translateY(-80px);
  }
  14.2% {
    transform: translateY(-80px);
  }
  28.4% {
    transform: translateY(-160px);
  }
  42.6% {
    transform: translateY(-240px);
  }
  56.8% {
    transform: translateY(-320px);
  }
  71% {
    transform: translateY(-400px);
  }
  85.2% {
    transform: translateY(-480px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 460px) {
  h3 {
    color: #bc21ef;
    font-size: 1.5rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.temaer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 1rem;
}
.tema__article {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;

  padding: 2em;
  background-color: rgba(255, 255, 255, 0.15);
}
.tema__headline {
  font-family: "Bebas neue", cursive;
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.tema__content {
  font-family: helvetica;
  color: #fff;
  line-height: 1.5rem;
}
